@use "styles/_mixins";

.hero {
  width: 100%;
  @include mixins.flex(center, center);
  flex-wrap: wrap;
  gap: 5rem;
  box-shadow: 7px 7px 0 0 var(--black-100);
  border: var(--border);
  border: var(--border);
  border-radius: 2rem;
  background-color: var(--blue-100);
  padding: 2.5rem 2.5rem 2rem;

  @include mixins.mediaquery("lg") {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .text {
    width: min(70rem, 100%);
    .title {
      margin-bottom: 2rem;
      font-size: 2.6rem;

      @include mixins.mediaquery("sm") {
        font-size: 2.8rem;
      }

      @include mixins.mediaquery("xl") {
        font-size: 3.2rem;
      }

      .glow {
        color: var(--yellow-100);
        font-weight: 700;
        display: inline-block;
        animation: zoom 2s ease-in-out infinite;
      }

      @keyframes zoom {
        0%, 100% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.02);
        }
      }
    }

    .description {
      font-size: 1.5rem;
      line-height: 1.9;

      .paragraph {
        display: block;
        margin-bottom: 1.2rem;
        color: black;
      }

      @include mixins.mediaquery("lg") {
        font-size: 1.8rem;
      }
    }

    .views {
      border: 1px solid var(--gray-300);
      border-radius: 1rem;
      background-color: var(--gray-400);
      padding: 1rem 2rem;
      width: fit-content;
    }
  }

  .image {
    @include mixins.flex(flex-end);
    display: none;

    @include mixins.mediaquery("lg") {
      display: block;
    }
  }
}
