@use "styles/_mixins";

.wrapper {
  grid-area: popular;
  @include mixins.flex(flex-start);
  flex-flow: column wrap;

  @include mixins.mediaquery("m") {
    align-items: flex-start;
  }

  .title {
    margin-bottom: 3rem;
    font-size: 1.7rem;
    font-family: "Mabry Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }

  .posts {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include mixins.mediaquery("m") {
      margin-left: -2.7rem;
    }

    .post {
      margin-bottom: 1.6rem;
      width: 100%;
      font-weight: 700;
      font-size: 2rem;
      @include mixins.flex(flex-start, flex-start);

      .icon {
        margin-top: 1rem;
        margin-right: 1.6rem;
        width: 1.1rem;
        min-width: 1.1rem;

        svg path {
          stroke: var(--blue-200);
        }
      }

      a:hover {
        color: var(--blue-200);
      }
    }
  }
}
