@use "styles/_mixins";

.link {
  .text {
    transition: background-size 0.25s ease;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-size: 0% 1.7px;
    background-repeat: no-repeat;
    padding: 0;
    color: var(--black-100);
    font-weight: bold;
    font-family: "Montserrat", sans-serif;

    &:hover,
    &:focus {
      background-size: 100% 1.7px;
    }
  }

  .icon {
    padding: 0 0.7rem;
    white-space: nowrap;

    svg {
      display: inline;
      width: 14px;

      @include mixins.mediaquery("lg-max") {
        width: 11px;
      }

      path {
        stroke: var(--black-100);
      }
    }
  }
}
