@media (prefers-color-scheme: light) {
  :root {
    --bg-100: rgb(255, 255, 255);
    --red-100: rgb(255, 71, 87);
    --yellow-100: rgb(255, 223, 0);
    --pink-100: rgb(255, 105, 180);
    --gray-100: rgb(240, 240, 240);
    --gray-200: rgb(230, 230, 230);
    --gray-300: rgb(140, 140, 140);
    --gray-400: rgb(250, 250, 250);
    --gray-500: rgb(220, 220, 220);
    --green-100: rgb(0, 255, 159);
    --green-200: rgb(50, 255, 50);
    --blue-100: rgb(0, 200, 255);
    --blue-200: rgb(88, 101, 242);
    --blue-300: rgb(200, 230, 255);
    --blue-400: rgb(0, 255, 255);
    --white-100: rgb(255, 255, 255);
    --white-200: rgb(255, 255, 255);
    --peach-100: rgb(255, 179, 71);
    --black-100: rgb(0, 0, 0);
    --black-200: rgb(30, 30, 30);
    --black-300: rgba(0, 0, 0, 0.9);
    --violet-100: rgb(138, 43, 226);
    --orange-100: rgb(255, 140, 0);
    --pink-100: rgb(255, 20, 147);

    --scrollbar-thumb: rgb(0, 0, 0);
    --scrollbar-thumb-hover: rgb(88, 101, 242);
    --mdx-heading-color: var(--black-100);
    --tile-shadow: 6px 6px 0px rgba(0, 0, 0, 1);
    --border: 4px solid var(--black-100);
    --selection-color: rgb(255, 255, 255);
    --selection-background: rgb(88, 101, 242);
  }
}

[data-theme="light"] {
  --bg-100: rgb(255, 255, 255);
  --red-100: rgb(255, 71, 87);
  --yellow-100: rgb(255, 223, 0);
  --pink-100: rgb(255, 105, 180);
  --gray-100: rgb(240, 240, 240);
  --gray-200: rgb(230, 230, 230);
  --gray-300: rgb(140, 140, 140);
  --gray-400: rgb(250, 250, 250);
  --gray-500: rgb(220, 220, 220);
  --green-100: rgb(0, 255, 159);
  --blue-100: rgb(0, 200, 255);
  --blue-200: rgb(88, 101, 242);
  --blue-300: rgb(200, 230, 255);
  --white-100: rgb(255, 255, 255);
  --white-200: rgb(255, 255, 255);
  --peach-100: rgb(255, 179, 71);
  --black-100: rgb(0, 0, 0);
  --black-200: rgb(30, 30, 30);
  --black-300: rgba(0, 0, 0, 0.9);
  --violet-100: rgb(138, 43, 226);
  --orange-100: rgb(255, 140, 0);
  --pink-100: rgb(255, 20, 147);

  --scrollbar-thumb: rgb(0, 0, 0);
  --scrollbar-thumb-hover: rgb(88, 101, 242);
  --mdx-heading-color: var(--black-100);
  --tile-shadow: 6px 6px 0px rgba(0, 0, 0, 1);
  --selection-color: rgb(255, 255, 255);
  --selection-background: rgb(88, 101, 242);
}

@media (prefers-color-scheme: dark) {
  :root {
    --red-100: rgb(255, 71, 87);
    --yellow-100: rgb(255, 223, 0);
    --pink-100: rgb(255, 105, 180);
    --gray-200: rgb(40, 40, 40);
    --green-100: rgb(0, 255, 159);
    --blue-100: rgb(0, 200, 255);
    --blue-200: rgb(138, 137, 255);
    --blue-300: rgb(30, 40, 60);
    --white-200: rgb(255, 255, 255);
    --black-200: rgb(30, 30, 30);
    --black-300: rgba(255, 255, 255, 0.9);
    --violet-100: rgb(186, 85, 211);
    --orange-100: rgb(255, 140, 0);
    --pink-100: rgb(255, 20, 147);
    --mdx-heading-color: var(--yellow-100);
    --selection-color: rgb(0, 0, 0);
    --selection-background: rgb(0, 255, 159);

    --bg-100: rgb(18, 18, 18);
    --gray-100: rgb(30, 30, 30);
    --black-100: rgb(255, 255, 255);
    --white-100: rgb(18, 18, 18);
    --peach-100: rgb(255, 179, 71);
    --gray-400: rgb(25, 25, 25);
    --gray-300: rgb(60, 60, 60);
    --gray-500: rgb(40, 40, 40);
    --scrollbar-thumb: rgb(255, 255, 255);
    --scrollbar-thumb-hover: rgb(0, 255, 159);

    --tile-shadow: 6px 6px 0px rgba(255, 255, 255, 0.3);
  }
}

[data-theme="dark"] {
  --red-100: rgb(255, 71, 87);
  --yellow-100: rgb(255, 223, 0);
  --pink-100: rgb(255, 105, 180);
  --gray-200: rgb(40, 40, 40);
  --green-100: rgb(0, 255, 159);
  --blue-100: rgb(0, 200, 255);
  --blue-200: rgb(138, 137, 255);
  --blue-300: rgb(30, 40, 60);
  --white-200: rgb(255, 255, 255);
  --peach-100: rgb(255, 179, 71);
  --black-200: rgb(30, 30, 30);
  --black-300: rgba(255, 255, 255, 0.9);
  --violet-100: rgb(186, 85, 211);
  --orange-100: rgb(255, 140, 0);
  --pink-100: rgb(255, 20, 147);

  --mdx-heading-color: var(--yellow-100);
  --selection-color: rgb(0, 0, 0);
  --selection-background: rgb(0, 255, 159);
  --bg-100: rgb(18, 18, 18);
  --gray-100: rgb(30, 30, 30);
  --black-100: rgb(255, 255, 255);
  --white-100: rgb(18, 18, 18);
  --gray-400: rgb(25, 25, 25);
  --gray-300: rgb(60, 60, 60);
  --gray-500: rgb(40, 40, 40);
  --scrollbar-thumb: rgb(255, 255, 255);
  --scrollbar-thumb-hover: rgb(0, 255, 159);

  --tile-shadow: 6px 6px 0px rgba(255, 255, 255, 0.3);
}

/* Highlighting code */

@media (prefers-color-scheme: light) {
  :root {
    --syntax-comment: #a0a1a7;
    --syntax-punctuation: #999;
    --syntax-pink: #905;
    --syntax-green: #690;
    --syntax-orange: #9a6e3a;
    --syntax-blue: #07a;
    --syntax-red: #dd4a68;
    --syntax-yellow: #e90;
    --syntax-background: var(--gray-200);
    --syntax-attr-value: #07a;
    --syntax-tag: #905;
    --syntax-prop: #905;
    --base-syntax-color: #000;
    --syntax-selector: #690;
    --syntax-css-class: #690;
    --syntax-css-id: #07a;
    --syntax-important: #e90;
    --syntax-css-unit: #905;
    --syntax-css-number: #905;
    --syntax-css-variable: #e90;
    --syntax-maybe-class-name: #dd4a68;
    --syntax-js-base-color: #000;
    --syntax-constant: #905;
    --syntax-builtin: #690;
    --syntax-operator: #9a6e3a;
    --syntax-function: #dd4a68;
    --syntax-attr-name: #690;
    --syntax-number: #905;
    --syntax-boolean: #905;
    --syntax-variable: #e90;
    --syntax-scrollbar-color: var(--gray-300);
    --syntax-selection: #d5d5d5;
  }
}

[data-theme="light"] {
  --syntax-comment: #a0a1a7;
  --syntax-punctuation: #999;
  --syntax-pink: #905;
  --syntax-green: #690;
  --syntax-orange: #9a6e3a;
  --syntax-blue: #07a;
  --syntax-red: #dd4a68;
  --syntax-yellow: #e90;
  --syntax-background: var(--gray-200);
  --syntax-attr-value: #07a;
  --syntax-tag: #905;
  --syntax-prop: #905;
  --base-syntax-color: #000;
  --syntax-selector: #690;
  --syntax-css-class: #690;
  --syntax-css-id: #07a;
  --syntax-important: #e90;
  --syntax-css-unit: #905;
  --syntax-css-number: #905;
  --syntax-css-variable: #e90;
  --syntax-maybe-class-name: #dd4a68;
  --syntax-js-base-color: #000;
  --syntax-constant: #905;
  --syntax-builtin: #690;
  --syntax-operator: #9a6e3a;
  --syntax-function: #dd4a68;
  --syntax-attr-name: #690;
  --syntax-number: #905;
  --syntax-boolean: #905;
  --syntax-variable: #e90;
  --syntax-scrollbar-color: var(--gray-300);
  --syntax-selection: #d5d5d5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --syntax-comment: #5f6167;
    --syntax-punctuation: rgb(199, 199, 199);
    --syntax-background: #23262e;
    --syntax-red: #ee5d43;
    --syntax-green: #abe338;
    --syntax-orange: #f39c12;
    --syntax-blue: #c74ded;
    --syntax-attr-value: #abe338;
    --syntax-tag: #f92672;
    --base-syntax-color: #fff;
    --syntax-selector: #f92672;
    --syntax-css-class: #ffe66d;
    --syntax-css-id: #ee5d43;
    --syntax-important: #c74ded;
    --syntax-css-base-color: #ee5d43;
    --syntax-prop: #fff;
    --syntax-css-unit: #f39c12;
    --syntax-css-number: #f39c12;
    --syntax-css-variable: #00e8c6;
    --syntax-maybe-class-name: #ffe66d;
    --syntax-js-base-color: #00e8c6;
    --syntax-constant: #00e8c6;
    --syntax-builtin: #fff;
    --syntax-operator: #ee5d43;
    --syntax-function: #ffe66d;
    --syntax-attr-name: #ffe66d;
    --syntax-number: #f39c12;
    --syntax-boolean: #ee5d43;
    --syntax-variable: #00e8c6;
    --syntax-scrollbar-color: var(--bg-100);
    --syntax-selection: #23262e;
  }
}

[data-theme="dark"] {
  --syntax-comment: #5f6167;
  --syntax-punctuation: rgb(199, 199, 199);
  --syntax-background: #23262e;
  --syntax-red: #ee5d43;
  --syntax-green: #abe338;
  --syntax-orange: #f39c12;
  --syntax-blue: #c74ded;
  --syntax-attr-value: #abe338;
  --syntax-tag: #f92672;
  --base-syntax-color: #fff;
  --syntax-selector: #f92672;
  --syntax-css-class: #ffe66d;
  --syntax-css-id: #ee5d43;
  --syntax-important: #c74ded;
  --syntax-css-base-color: #ee5d43;
  --syntax-prop: #fff;
  --syntax-css-unit: #f39c12;
  --syntax-css-number: #f39c12;
  --syntax-css-variable: #00e8c6;
  --syntax-maybe-class-name: #ffe66d;
  --syntax-js-base-color: #00e8c6;
  --syntax-constant: #00e8c6;
  --syntax-builtin: #fff;
  --syntax-operator: #ee5d43;
  --syntax-function: #ffe66d;
  --syntax-attr-name: #ffe66d;
  --syntax-number: #f39c12;
  --syntax-boolean: #ee5d43;
  --syntax-variable: #00e8c6;
  --syntax-scrollbar-color: var(--bg-100);
  --syntax-selection: #303541;
}
